body {
    counter-reset: example-counter 0;    
    }

.ex::before {
    counter-increment: example-counter;
    content:"(" counter(example-counter) ") ";
  }
  
.ab::before {
    counter-increment: ab-counter;
    content: counter(ab-counter, lower-latin) ".";
  }



.gloss-individual-example {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: -1em;
  }

 



 .gloss-example {
    /* background: hsla(55, 99%, 80%, 50); */
    /* padding: 5px; */
   overflow:auto;
   /* margin-top: -1.5em; */
   width: 90%;
         /* margin: 1em 0; */
         margin-left: -2.5em;
  }
  
 ol.sentence {
    display:inline;
    list-style-type: none;
    padding: 0em;
    /* margin-top: -2em; */
  }
  
  ol.sentence li[lang=target-word]{
     /* font-weight:bold; */
     list-style-type: none;
    padding: 0em;
  }
  
  
  ol.sentence li[lang=target-gloss]{
     /* font-family: monospace; */
     list-style-type: none;
    padding: 0;
  
  }
  
  ol.word {
   /* padding: .5em; */
   margin-bottom: .5em;
   /* background: white; */
   float:left;
   /* border: 1px dotted #ccc; */
   display: inline-block;
   /* padding: 0em; */
  }
  
  p.translation {
    width: 90%;
    float: left;
    display: inline-block;
    margin-top: -0.5em;
    margin-left: 2.5em;
  }

  
  /* New */
  
  .example-container {
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
    counter-reset: ab-counter 0;
    line-height: 0.1;
  }

  .gloss-example-container {
    counter-reset: ab-counter 0;
    
  }
  .individual-example {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .example-number {
    width: 2em;
  }

  .example-sentence {

  }

  .ab-counter {
    /* margin-top: .8em; */
    /* padding-left: 0.5em; */
    width: 2em;
  }

  .judgement {
    /* margin-top: .8em; */
    text-align: right;
    width: .5em;
    padding-right: 0.5em;
  }

  .smallcaps {
    font-variant: small-caps;
  }